{% extends 'layout.html' %}

{% block content %}
<h3 style="text-align: center;"> {{name}}님 전체 출석률은 {{attendance}}% 입니다. </h3>

<hr style="border: solid 2px; margin-top: 50px; margin-bottom: 30px;">


<table class="table mt-5" style="text-align: center;">
    <p></p>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">1주차</th>
            <th scope="col">2주차</th>
            <th scope="col">3주차</th>
            <th scope="col">4주차</th>
            <th scope="col">5주차</th>
            <th scope="col">6주차</th>
            <th scope="col">7주차</th>
            <th scope="col">8주차</th>
            <th scope="col">9주차</th>
            <th scope="col">10주차</th>
            <th scope="col">11주차</th>
        </tr>
    </thead>

    <tbody>
        <!-- 아직 렌더링 받은 결과가 없기때문에 잘 나오는지 확인하기위해서 array를 하나 선언했다. -->
        {% set array = ['O','O','O','O','O','O','O','O','O','O','O'] %}
        <tr>
            <th scope="row">LC</th>
            {% for item in LC%}     
                <td> {{item}} </td>
            {% endfor %}
           
        </tr>

        <tr>
            <th scope="row">RC</th>
            {% for item in RC%}     
                <td> {{item}} </td>
            {% endfor %}
        </tr>

        <tr>
            <th scope="row"> 출 석</th>
            {% for item in total%}     
                <td> {{item}} </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}
